/* Section 3 */

.section3 {
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
  background-image: url("/sec3back.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sec3title h1 {
  color: var(--white);
  /* margin-top: 1em; */
  margin-bottom: 2em;
}

.price-table-container {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.75fr 1fr 0.75fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". pyras ."
    "model pyras competitors"
    "data data data"
    "data data data"
    "data data data"
    "data data data"
    "data data data";
}

.pyras img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  padding: 1em;
}

.pyras {
  grid-area: pyras;
  display: flex;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px 15px 0 0;
}

.model {
  grid-area: model;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 2px solid var(--white);
  height: auto;
  /* object-fit: contain; */
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 15px 0 0 0;
}

.model span {
  height: 3rem;
  line-height: 3rem;
}

.competitors span {
  height: 3rem;
  line-height: 3rem;
}

.competitors {
  grid-area: competitors;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 2px solid rgba(255, 255, 255, 0.795);
  text-align: center;
  height: auto;
  object-fit: contain;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 0 15px 0 0;
}

.data {
  display: grid;
  grid-template-columns: 0.75fr 1fr 0.75fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . .";
  grid-area: data;
  border-bottom: 4px solid #fff;
  border-radius: 0 0 5px 5px;
}

.grid-item {
  padding: 1em;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.795);
  background-color: transparent;
  border-right: 2px solid rgba(255, 255, 255);
  border-left: 2px solid rgba(255, 255, 255);
}

@keyframes moving-glare {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.glare-effect {
  background: linear-gradient(
    to right,
    var(--blue) 0%,
    var(--blue) 25%,
    var(--lblue) 50%,
    var(--blue) 75%,
    var(--blue) 100%
  );
  background-size: 200% 200%;
  animation: moving-glare 10s infinite linear;
}
