.dash-navbar {
  width: 200px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  overflow: hidden;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: calc(100vh - 80px); /* Adjust height to account for margin */
}

.nav-header {
  margin-bottom: 30px;
}

.nav-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  flex-grow: 1;
}

.nav-item {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-item svg {
  min-width: 24px;
}

.nav-title {
  margin-left: 15px;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.bottom-nav-items {
  margin-top: auto;
  width: 100%;
}

.logout-icon {
  color: #ff4d4d; /* Red color for logout */
}

.l ogout-icon:hover {
  background-color: #ff4d4d;
  color: #ffffff;
}
