.comingSoonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: #000; /* Assuming a dark background */
  color: #fff; /* White text */
}

.comingSoonContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .button1 {
    padding: 10px 30px;
    margin: 10px;
} */

.comingSoonText {
  margin: 0;
  font-size: 0.75em;
  letter-spacing: 2px;
  color: #494949;
}

.comingSoonText2 {
  margin: 5px;
  font-size: 0.5em;
  letter-spacing: 2px;
  color: #424141;
}

.comingSoonFooter {
  padding: 20px;
  font-size: 0.8em; /* Smaller font size */
}

.footerLink {
  color: grey; /* Grey text for links */
  text-decoration: none;
  margin: 0 10px; /* Spacing between links */
  transition: color 0.3s ease;
}

.footerLink:hover {
  color: #fff; /* White text on hover */
}
